@media screen and (min-width: 640px) {
  .logo {
    max-width: 50vw;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
}

.logo {
  margin: 0;
}
