html {
  font-family: "Open Sans", Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(241, 241, 241);
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

a:visited {
  color: rgb(241, 241, 241);
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

main {
  background: url(../images/groupActionShot.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding: 4.236rem;
  height: 100vh;
}

@media screen and (max-width: 640px) {
  main {
    background: url(../images/Tall_Portrait_ish.png) no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 1rem;
  }
}

.gradient-border {
  --borderWidth: 3px;
  background: transparent;
  position: relative;
  border-radius: var(--borderWidth);
  z-index: 0;
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
