html {
  font-family: "Open Sans", Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.button-group {
  margin-bottom: 1rem;
}

p,
a,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(241, 241, 241);
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

h1 {
  margin-bottom: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.618rem;
}

a:visited {
  /* color: rgb(241, 241, 241); */
  text-decoration: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

main {
  display: block;
  background: url(../images/groupActionShot.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding: 4.236rem;
  /* height: 100vh; */
}

@media screen and (max-width: 640px) {
  main {
    background: url(../images/Tall_Portrait_ish.jpg) no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 1rem;

    align-items: center;
    justify-content: center;
  }
}

.gradient-border {
  --borderWidth: 3px;
  background: transparent;
  position: relative;
  border-radius: var(--borderWidth);
  z-index: 0;
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: rgb(151, 151, 255);
}

section {
  margin-bottom: 2.618rem;
}

.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding: 1rem;
  background: rgb(45, 44, 56);
  border-radius: 3px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 640px) {
  .card {
    max-width: fit-content;
  }
}

ul {
  margin-left: 1rem;
  margin-bottom: 0;
  list-style-type: none;
}

li {
  display: flex;
  align-items: baseline;
}

li svg {
  margin-right: 0.318rem;
}

.shadow {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6));
  /* Similar syntax to box-shadow */
}
